h3{
  background-color: mediumslateblue;
  color: white;
  border-radius: 10px;
  padding-left: 10px;
}
.list-group-item:hover{
  background: #9fcdff !important;
}
.list-group-item {
  cursor: pointer;
}
.activeCourse {
  background-color: lightblue !important;
}
