<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
  <a class="navbar-brand" href="">Course Manager</a>
</nav>
<div class="container mt-5 pt-5">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <div *ngIf="userLoggedIn; then UserLoggedInAlert"></div>
      <ng-template #UserLoggedInAlert>
        <div class="alert alert-warning" role="alert">
          A user is already logged in. Please logout first!
        </div>
      </ng-template>
      <h1>Login</h1>
      <input [(ngModel)]="user.username"
             [disabled] = "userLoggedIn"
             placeholder="username"
             class="form-control my-2"/>
      <input [(ngModel)]="user.password"
             placeholder="password"
             [disabled] = "userLoggedIn"
             required
             class="form-control my-2"/>
      <button (click)="login()"
              [disabled] = "userLoggedIn"
              class="btn btn-primary btn-block my-2">
        Login
      </button>
      <div class="d-flex justify-content-between">
        <button routerLink="/home" class="btn btn-primary">Home</button>
        <button routerLink="/register" class="btn btn-secondary">Register</button>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-primary fixed-bottom justify-content-end pb-2">
  <a routerLink="/profile" class="fa fa-user fa-inverse"></a>
</nav>
