<app-top-navbar></app-top-navbar>
<div class="container my-5 py-5">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <div *ngIf="userNotLoggedIn; then UserNotLoggedInAlert"></div>
      <ng-template #UserNotLoggedInAlert>
        <div class="alert alert-info" role="alert">
          No user is logged in. Please login first!
        </div>
      </ng-template>
      <h1>Profile</h1>
      <input [(ngModel)]="user.username"
             [disabled] = "userNotLoggedIn"
             placeholder="username"
             class="form-control my-2"/>
      <input [(ngModel)]="user.firstName"
             [disabled] = "userNotLoggedIn"
             placeholder="first name"
             class="form-control my-2"/>
      <input [(ngModel)]="user.lastName"
             [disabled] = "userNotLoggedIn"
             placeholder="lastName"
             class="form-control my-2"/>
      <input [(ngModel)]="user.email"
             [disabled] = "userNotLoggedIn"
             placeholder="email"
             class="form-control my-2"/>
      <input [(ngModel)]="user.phoneNumber"
             [disabled] = "userNotLoggedIn"
             placeholder="333-222-3232"
             class="form-control my-2"/>
      <input [(ngModel)]="user.address"
             [disabled] = "userNotLoggedIn"
             placeholder="X Street,Boston,MA"
             class="form-control my-2"/>
      <button (click)="update(user)"
              [disabled] = "userNotLoggedIn"
              class="btn btn-primary btn-block my-2">
        Update
      </button>

      <div class="d-flex justify-content-between">
        <button routerLink="/home" class="btn btn-primary">Home</button>
        <button [disabled] = "!isAdminUser" routerLink="/admin" class="btn btn-primary">Admin</button>
        <button [disabled] = "userNotLoggedIn" (click)="logout()" class="btn btn-danger">Logout</button>
      </div>
    </div>
  </div>
  <div *ngIf="!isAdminUser; then StudentUserCourses"></div>
  <ng-template #StudentUserCourses>
    <div class="row">
      <div class="pt-3 pr-5 container-fluid">
        <h4>Courses enrolled:</h4>
        <li *ngFor="let course of enrolledCourses"
            routerLink="/course/{{course.id}}/section"
            class="list-group-item">
          <div class="d-flex w-100 justify-content-between flex-nowrap">
            <div class="row px-1">
              <a routerLink="/course/{{course.id}}/section" class="text-center">{{course.title}}</a>
            </div>
          </div>
        </li>
      </div>
    </div>
  </ng-template>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-bottom justify-content-end">
  <a routerLink="/profile" class="fa fa-user fa-inverse"></a>
</nav>
