.list-group-item:nth-of-type(even){
  background-color: white;
}
.list-group-item:nth-of-type(odd){
  background-color: #f2f2f2;
}
.list-group-item:hover{
  background: #9fcdff !important;
}
.list-group-item {
  cursor: pointer;
  border-radius: 15px;
  margin: 1px;
}
.activeSection{
  background-color: lightblue !important ;
}
h4 {
  color: #007BFF;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
