<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
  <a class="navbar-brand" href="">Course Manager</a>
</nav>
<div class="container mt-5 pt-5">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h1>Profile</h1>

      <input [(ngModel)]="user.username"
             placeholder="username"
             class="form-control"/>
      <input [(ngModel)]="user.firstName"
             placeholder="first name"
             class="form-control"/>
      <input [(ngModel)]="user.lastName"
             placeholder="lastName"
             class="form-control"/>
      <input [(ngModel)]="user.email"
             placeholder="email"
             class="form-control"/>
      <button (click)="update(user)"
              class="btn btn-primary btn-block">
        Update
      </button>

      <div class="d-flex justify-content-between">
        <a routerLink="/home">Home</a>
        <a routerLink="/login">Logout</a>
      </div>
    </div>
  </div>
</div>
