<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
  <a class="navbar-brand" href="">Course Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <a routerLink="/login" class="btn btn-outline-success mr-2">Login</a>
    <a routerLink="/register" class="btn btn-outline-success">Register</a>
  </div>
</nav>
<app-course-grid></app-course-grid>
